@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

:root {
    --green: #7dc49c;
    --green-darker: #60c48b;
}

body {
    font-family: 'Share Tech Mono', monospace;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.container header {
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--green);
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: white;
    box-shadow: 0px 1px 5px 1px #7dc49c;
}

.container header h3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap:0.4rem;
    align-items: center;
}

.container header div.form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
    padding-right: 1.8rem;
}

.container header div.form button {
    background-color: var(--green);
    border: solid;
    border-radius: 0.2rem;
    color: white;
    border-width: 0.1rem;
    cursor: pointer;
}

.container header div.form input {
    background-color: var(--green);
    border: solid;
    border-radius: 0.2rem;
    color: white;
    border-width: 0.1rem;
    padding: 0.4rem;
    text-align: center;
}

.container main {
    margin-top: 5rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    gap: 1rem;
}

.container footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    top: 87%;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    color: gray;
    cursor: pointer;
    transition: 1s;
    padding: 1rem;
    background-color: white;
    gap: 1rem;
}

.container footer:hover {
    color: black;
}

.container footer span a {
    text-decoration: none;
    color: gray;
    font-weight: bold;
    transition: 1s;
}

.container footer span a:hover {
    color: orangered;
}

.container footer a.github {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0.8rem;
    text-decoration: none;
    color: gray;
    font-weight: bold;
    transition: 1s;
    padding: 1rem;
    padding-right: 1.4rem;
    border-radius: 0.8rem;

}

.container footer a.github:hover {
    background-color: var(--green);
    color: white;
}

.container footer span .heart {
    transition: 0.5s;
}

.container footer span .heart:hover {
    color: red;
    transform: scale(120%);

}

.container header .menu .menu-dropdown {
    background-color: var(--green);
    color: white;
    cursor: pointer;
    border: none;
    transition: 1s;
}

.container header .menu .drop {
    display: flex;
    flex-direction: column;
    background-color: var(--green);
    color: white;
    cursor: pointer;
    border: none;
    padding: 1rem;
    justify-content: space-between;
}

.container header .menu .drop .drop-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    color: white;
    padding: 1rem;
    text-decoration: none;
    transition: 0.3s;
}

.container header .menu .drop .drop-item:hover {
    background-color: white;
    color: var(--green)
}

.container header .menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.actionbar {
    position: relative;
    width: 9rem;
}

.actionbar__select {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-left: 1rem;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
}

.actionbar__menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--green);
    color: white;
    cursor: pointer;
    border: none;
}

.actionbar__menuItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.8rem;
    text-decoration: none;
    color: white;
}
.actionbar__menuItem:hover {
    background-color: var(--green-darker);
}

.actionbar__select span {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

header div.search-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

@media screen and (max-width: 800px){
    .container header {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1rem;
    }

    .container header .menu {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .container main {
        margin-top: 12rem;
        text-align: justify;
        flex-direction: column;
    }

    .container header div.form {
        flex-direction: column-reverse;
    }

    .actionbar__select {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
}