div.card, div.card-clicked {
    display: flex;
    flex-direction: column;
    border: solid;
    border-color: var(--green);
    padding: 1rem;
    border-radius: 0.2rem;
    width: 24vw;
    height: 18vh;
    transition: 0.5s;
    cursor: pointer;
}

div.card-clicked {
    height: 24vh;
}

div.card-clicked {
    height: 25vh;
}

div.card div.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

div.card p {
    word-wrap: break-word;
    overflow: hidden;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 800px){
    div.card {
        width: 80vw;
    }
    div.card-clicked {
        width: 80vw;
        height: 25vh;
    }
    
}
